
<h2>Calculate Current Month Profit</h2>

<div>
    <p>Click the button below to calculate the profit for the current month:</p>
    @using (Html.BeginForm("CalculateCurrentMonthProfit", "Profit", FormMethod.Post))
    {
        <button type="submit" class="btn btn-primary">Calculate Profit</button>
    }
</div>

