@model IEnumerable<XyTech.Models.tb_tenant>

@{
    ViewBag.Title = "Index";
}

<h2>Tenant</h2>

<hr />

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="btn btn-success btn-rounded btn-fw">
                    @Html.ActionLink("Create New", "Create")
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="dataTable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>IC</th>
                                        <th>Phone</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Outstanding</th>
                                        <th>Payment Status</th>
                                        <th>Room No</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tenant').DataTable({
                "ajax": {
                    "url": "/tenant/getTenantData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "t_name" },
                    { "data": "t_ic" },
                    { "data": "t_phone" },
                    { "data": "t_indate" },
                    { "data": "t_outdate" },
                    { "data": "t_outstanding" },
                    {
                        "data": "t_paymentstatus",
                        "render": function (data, type, full, meta) {
                            var paymentStatusText = "";

                            switch (data) {
                                case 1:
                                    paymentStatusText = "Successfully Paid";
                                    return '<div class="badge badge-success">' + paymentStatusText + '</div>';
                                case 2:
                                    paymentStatusText = "Partially Paid";
                                    return '<div class="badge badge-warning">' + paymentStatusText + '</div>';
                                case 3:
                                    paymentStatusText = "Unpaid";
                                    return '<div class="badge badge-danger">' + paymentStatusText + '</div>';
                                default:
                                    return " ";
                            }
                        }
                    },
                    { "data": "tb_room.r_floor" },
                    {
                        "data": "t_paymentstatus",
                        "render": function (data, type, full, meta) {
                            if (data == 1) {
                                return '<td>' +
                                    '<a href="/tb_tenant/Edit/' + full.t_id + '" class="fa fa-pencil text-primary"></a> | ' +
                                    '<a href="/tb_tenant/Details/' + full.t_id + '" class="fa fa-info-circle text-info"></a> | ' +
                                    '<a href="/tb_tenant/Delete/' + full.t_id + '" class="fa fa-trash text-danger"></a>' +
                                    '</td>';
                            } else {
                                return '<td>' +
                                    '<a href="/tb_tenant/Edit/' + full.t_id + '" class="fa fa-pencil text-primary"></a> | ' +
                                    '<a href="/tb_tenant/Details/' + full.t_id + '" class="fa fa-info-circle text-info"></a>' +
                                    '</td>';
                            }
                        }
                    }
                ],
                "order": [[1, 'asc']],
                "paging": true,
                "ordering": true,
                "info": false,
                "filter": true
            });
        });

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

    </script>
}

